/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefffe;
}

.add-device-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-device-btn:hover {
  background-color: #0056b3;
}

footer {
  background: linear-gradient(to top, #333333, #747171);
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}
header {
  color: #fff;
  text-align: center;
  border: 1px solid #ffffff;
  background: -webkit-linear-gradient(to right, #95fb52, #0ad443);
  background: linear-gradient(to right, #95fb52, #0ad443);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between child elements */
  padding: 0 20px; /* Add some horizontal padding */
  height: 100px;
}

header img {
  width: 150px; /* Adjust as needed */
  height: 70px;
  margin-left: 10px; /* Space from the left border */
}

header h1 {
  margin: 0 auto; /* Center the heading */
  margin-left: 23vw;
  font-size: 2vw;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0a2c05;
}

.profile-menu {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 50px; /* Adjust as needed */
  height: 50px;
  border-radius: 50%;
  margin-right: 14px;
}

.profile-pic img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.logit:hover {
  cursor: grab;
}

footer {
  position: fixed; /* Fixed positioning */
  bottom: 0; /* Stick to the bottom */
  width: 100%;
}

main {
  padding: 20px;
}
/* Search Bar */
.search-bar {
  margin-left: 1vw;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(7, 1fr);
}

.search-bar select,
.search-bar #search-button {
  padding: 12px 10px;
  font-size: 16px;
  border: none;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.search-bar select {
  background: linear-gradient(to top, #dffbd8, #a7fa90);
  border: 3px solid #94f47a;
}
/*option {
}*/

.search-bar select:focus,
.search-bar #search-button:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.search-bar #search-button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-container .item:nth-child(5) {
    grid-column: span 4;
  }
}

/* Media Query for 3 items in a row */
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-container .item:nth-child(4) {
    grid-column: span 3;
  }
  .grid-container .item:nth-child(5) {
    grid-column: span 3;
  }
  .grid-container .item:nth-child(6) {
    grid-column: span 3;
  }
}

/* Media Query for 2 items in a row */
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-container .item:nth-child(3) {
    grid-column: span 2;
  }
  .grid-container .item:nth-child(4) {
    grid-column: span 2;
  }
  .grid-container .item:nth-child(5) {
    grid-column: span 2;
  }
}

/* Media Query for 1 item in a row */
@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-container .item {
    grid-column: span 1;
  }
}

@media screen and (max-height: 768px) {
  .button-group {
    flex-direction: row;
    position: relative;
    bottom: auto;
    right: auto;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for screens smaller than 480px (typical phone size) */
  .button-group button {
    font-size: 12px; /* Further decrease font size */
    padding: 6px 12px; /* Further decrease padding */
  }
}

/* Last Updated */
.last-updated {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Back Button */

.status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75vw;
  height: 70px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 0 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  font-family: "Roboto", sans-serif;
  margin: 0 auto; /* Center horizontally */
  margin-top: 20px;
}

.status-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.status-text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.id-text {
  font-size: 14px;
  color: #666;
}

.view-button {
  font-size: 16px;
  cursor: pointer;
}
.status-bar:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Corrected typo */
.toggle-container {
  margin-right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(21px);
}

/*For View*/
.card-container {
  max-width: 31%;
  background-color: #bfecef;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  margin: 0 auto; /* Center horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2%;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
  .card-container {
    width: 95%;
    max-width: none;
  }
}

.value-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.value-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid transparent;
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
  box-shadow: 0 0 20px rgba(0, 122, 254, 0.5);
}

.value-name {
  text-align: center;
  margin-bottom: 10px;
  color: #495057; /* Dark gray text */
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
/* Change the background color of the buttons */
.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #ff6b81; /* Light Red */
}

.button-container button:nth-child(2) {
  margin-left: 10px; /* Add spacing between buttons */
}

/* Apply a gradient background to the Change Status button */
.button-container button:first-child {
  background: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  ); /* Gradient from Light Red to Light Orange */
  color: #fff; /* White text */
}

/* Apply a gradient background to the Refresh button */
.button-container button:nth-child(2) {
  background: linear-gradient(
    to bottom,
    #85ffbd,
    #1f4037
  ); /* Gradient from Light Green to Dark Green */
  color: #fff; /* White text */
}

/* Apply rainbow border animation to value circles on hover */
/* Apply glow effect on hover */
.value-circle:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 124, 256, 3.2);
  }
}
.device-id {
  text-align: center;
  margin-bottom: 10px;
}

.device-id h2 {
  color: #007bff; /* Blue color for the device ID */
}

.separator {
  height: 2px;
  width: 100%;
  background-color: #ccc; /* Light gray color for the separator */
  margin-bottom: 10px;
}

/* Define keyframes for rainbow border color animation */

.value-circle > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
}
@keyframes circleRotation {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}

.value-circle {
  animation: circleRotation 1s ease-in-out forwards;
}
.device-id h2 {
  font-family: "Arial", sans-serif; /* Change font family */
  font-size: 24px;
  color: #333; /* Dark gray color */
  margin: 0; /* Remove default margin */
  transition: color 0.3s; /* Smooth transition for color change */
}

.device-id h2:hover {
  color: #007bff; /* Blue color on hover */
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  transition: opacity 0.5s ease-in-out; /* Smooth fade-in/out */
}

.loading-text {
  margin-top: 20px; /* Adjust spacing */
  font-size: 16px;
  color: #555; /* Text color */
  /* Initially hidden */
  transition: opacity 0.5s ease-in-out; /* Smooth fade-in/out */
}

.loader-container:hover .loader {
  opacity: 1; /* Partially visible when hovering */
}

.loader-container:hover .loading-text {
  opacity: 1; /* Fully visible when hovering */
}

/* body{
  color:#566787;
  background: #d3c6c6;
  font-family: Arial, Helvetica, sans-serif;
} */

.table-wrapper {
  width: 80vw;
  overflow: hidden;
  background: #fff;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.table-wrapper .btn-group {
  float: right;
}

.table-title .btn {
  max-width: 100px;
  /* border-radius: 10px; */
  height: 18px;
  border: none;
  padding: 6px 50px;
  font-size: 110%;
  /* outline: none !important; */
  height: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}

.table-title {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 15px;
  background-color: rgb(0, 50, 74);
  /* margin: -20 -31px 10px; */

  padding: 15px 30px;
  color: #fff;
}

.table-title h2 {
  margin: 2px 0 0;
  font-size: 24px;
}
@media (max-width: 1168px) {
  .table-wrapper {
    overflow: scroll;
  }
  .table-title {
    width: 908px;
  }
}
@media (max-width: 668px) {
  header h1 {
    font-size: 3vw;
    margin-left: 5vw;
  }
  header img {
    height: 10vw;
    width: 20vw;
  }
  header .profile-pic img {
    height: 10vw;
    width: 10vw;
  }
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 40px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-last-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table td a {
  color: #2196f3;
}

table.table td .btn.manage {
  padding: 2px 10px;
  background-color: #37bc98;
  color: #fff;
  border-radius: 1px;
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.7);
}

table.table td .btn.manage:hover {
  background: #2e9c81;
}
select:disabled {
  background-color: #f0f0f0; /* Lighter background for disabled state */
  color: #999; /* Lighter text color for disabled state */
  border-color: #ddd; /* Lighter border color */
  cursor: not-allowed;
}
/* Profile Picture */

.profile-pic {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.profile-menu .dropdown-menu {
  right: 0;
  left: unset;
}
.profile-menu .fa-fw {
  margin-right: 10px;
}

.toggle-change::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}
/* new */
#contact-button {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #2bc1f2;
  color: #fff;
  padding: 15px 20px;
  cursor: pointer;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: background 0.3s;
}

#contact-button:hover {
  background: #2396c4;
}

#contact-button i {
  font-size: 24px;
}

#slider {
  position: fixed;
  top: 50%;
  right: -360px;
  transform: translateY(-50%);
  width: 360px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  transition: right 0.5s ease-in-out;
  z-index: 10;
}

#header {
  padding: 20px;
}

#header h2 {
  margin-top: 0;
  color: #333;
}

#header p {
  color: #666;
  margin-bottom: 20px;
}

#header h4 {
  margin-bottom: 10px;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: #333333;
}

#contact-form textarea {
  resize: none;
  height: 100px;
}

#contact-form button {
  width: 100%;
  padding: 10px;
  background: #2bc1f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

#contact-form button:hover {
  background: #2396c4;
}
.custom-select-container {
  position: relative;
}
.custom-select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
}
.custom-select-dropdown div {
  color: #333;
  padding: 10px;
  padding-left: 0px;
  cursor: pointer;
}
.custom-select-dropdown div:hover {
  background: #f0f0f0;
}

/* Dropdown Menu Styles */

.dropdown-item i {
  margin-right: 10px;
  transition: transform 0.7s; /* Transition duration for rotation */
}

.dropdown-item:hover i {
  transform: rotate(180deg); /* Rotate 360 degrees on hover */
}

.dropdown-divider {
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #e9ecef;
}
